<div class="footer">
  <div class="footer-copyright">
<img src="https://i.imgur.com/Aa0kyBg.png" alt="dailycato-logo" height="66,75" width="253,5">

  </div>
  <div class="footer-links">

    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</div>
