<div class="navbar-dailycato">
  <div class="left-logo">
    <a href="/"><img src="https://i.imgur.com/Aa0kyBg.png" title="Example Image Link" height="40,05" width="152,1" /></a>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-dailycato-right">

    <!-- Profile picture with dropdown list -->
    <div class="navbar-dailycato-item">
      <div class="dropdown">
        <% if user_signed_in? %>
        <!-- <p> @user.name </p> -->
        <img src="https://avatars1.githubusercontent.com/swoerner" class="avatar dropdown-toggle" id="navbar-dailycato-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-dailycato-dropdown-menu">
          <li><a href="#">My Profile</a></li>
          <li><a href="#">Vouchers</a></li>
          <li>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
        <% else %>
        <%= link_to "Login", new_user_session_path, class: "login-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
