<div id="slide2" class="slide">
  <div class="wrapper-all">

    <div id="banner-all">
      <%= render 'components/banner' %>
    </div>
  </div>

  <div class="advantage-cards">
    <div class="split col-md-6 picture" id="first-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/duh9oaa44/image/upload/v1542719948/i6-3_popular.jpg');">
    </div>


    <div class="split col-md-6 text" >
      <div class="centered">
        <div class="header-styling we-are">
          <h2>Who we are - Dailycato</h2>

          <p>Dailycato.com allows you to find the best meal-deals at restaurants in your area. Find your prefered restaurant or deal and even take advantage of our in-app booking feature.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="find-us">
  <div class="advantages-section header-styling">
    <center> <h1>Benefits</h1></center>
  </div>
  <div class="flex-container-advantages">

    <div class="flex-container-new">
      <div class="advantage-image">
        <img src="https://i.imgur.com/f8CrQtH.png" alt="Save-Time" height="125,00" width="125,00">
      </div>
      <div class="advantage-text">
        <h1>Save Time</h1>
      </div>
      <div class="advantage-description">
        <p>Time is precious to you? Worry not – Dailycato allows you to compare all restaurants & their daily deals at the click of a button! Don’t have time to make a reservation either? Simply use our book & reserve table feature!</p>
      </div>
    </div>

    <div class="flex-container-new">
      <div class="advantage-image">
        <img src="https://i.imgur.com/Bwj6HNc.png" alt="Save-Money" height="125,00" width="125,00">
      </div>
      <div class="advantage-text">
        <h1>Save Money</h1>
      </div>
      <div class="advantage-description">
        <p>Unknown to many - most restaurants actually offer great daily deals to their customers. In other words – they will provide a selection of their most 'iconic' meals and offer them for a cheaper price. Use our service to get the most out of these deals and never miss out again! </p>
      </div>
    </div>
    <div class="flex-container-new">
      <div class="advantage-image">
        <img src="https://i.imgur.com/PnrNF2v.png" alt="Discover" height="125,00" width="125,00">
      </div>
      <div class="advantage-text">
        <h1>Discover new places</h1>
      </div>
      <div class="advantage-description">
        <p>Are you fed up with eating at the same place over and over again? Our expansive directory will enable you to discover new restaurants, cuisines & deals on a daily basis in no time!</p>
      </div>
    </div>
  </div>
</div>

<div class="container special-container header-styling">
  <center> <h2 class="subheadline">You can find us in these cities</h2> </center>

  <div class="row spacing">
    <div class="col-xs-12 col-sm-4">
      <div class="card spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/duh9oaa44/image/upload/v1542720796/ricardo-gomez-angel-396552-unsplash.jpg');">
        <div class="card-description">
          <h3>Berlin</h3>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/duh9oaa44/image/upload/v1542720788/tavis-beck-586208-unsplash.jpg');">
        <div class="card-description">
          <h3>Munich</h3>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/duh9oaa44/image/upload/v1542720787/yan-ots-641759-unsplash.jpg');">
        <div class="card-description">
          <h3>Hamburg</h3>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <br>
    <div class="col-xs-12 col-sm-4">
      <div class="card spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://blog.bravofly.se/wp-content/uploads/sites/15/2016/08/k%C3%B6ln.jpg');">
        <div class="card-description">
          <h3>Cologne</h3>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.centro-hotels.de/__we_thumbs__/521_2_duesseldorf.jpg?m=1534947046');">
        <div class="card-description">
          <h3>Dusseldorf</h3>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2F1510244995%2Ffrankfurt-city-FRANKFURT1117.jpg%3Fitok%3DhuPZUAar&w=1000&c=sc&poi=face&q=70');">
        <div class="card-description">
          <h3>Frankfurt</h3>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
