<div id="slide2" class="slide">
  <div class="wrapper-all">

    <div id="banner-all">
      <%= render 'components/banner' %>
    </div>
  </div>

  <div class="advantage-cards">
    <div class="split col-md-6 picture" id="first-picture" style="background-image: url('https://i.imgur.com/nDq8sUf.png');">
    </div>


    <div class="split col-md-6 text" >
      <div class="centered">
        <div class="header-styling we-are">
          <h2>Who we are - Dailycato</h2>

          <p>Dailycato.com allows you to find the best meal-deals at restaurants in your area. Find your prefered restaurant or deal and even take advantage of our in-app booking feature.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="find-us">
  <div class="starting-soon">
    <center> <h1>We are launching soon! </h1> </center>
  </div>
  <div class="advantages-section header-styling">
    <center> <h1>Benefits</h1></center>
  </div>
  <div class="flex-container-advantages">

    <div class="flex-container-new">
      <div class="advantage-image">
        <img src="https://i.imgur.com/f8CrQtH.png" alt="Save-Time" height="125,00" width="125,00">
      </div>
      <div class="advantage-text">
        <h1>Save Time</h1>
      </div>
      <div class="advantage-description">
        <p>Time is precious to you? Worry not – Dailycato allows you to compare all restaurants & their daily deals at the click of a button! Don’t have time to make a reservation either? Simply use our book & reserve table feature!</p>
      </div>
    </div>

    <div class="flex-container-new">
      <div class="advantage-image">
        <img src="https://i.imgur.com/Bwj6HNc.png" alt="Save-Money" height="125,00" width="125,00">
      </div>
      <div class="advantage-text">
        <h1>Save Money</h1>
      </div>
      <div class="advantage-description">
        <p>Unknown to many - most restaurants actually offer great daily deals to their customers. In other words – they will provide a selection of their most 'iconic' meals and offer them for a cheaper price. Use our service to get the most out of these deals and never miss out again! </p>
      </div>
    </div>
    <div class="flex-container-new">
      <div class="advantage-image">
        <img src="https://i.imgur.com/PnrNF2v.png" alt="Discover" height="125,00" width="125,00">
      </div>
      <div class="advantage-text">
        <h1>Discover new places</h1>
      </div>
      <div class="advantage-description">
        <p>Are you fed up with eating at the same place over and over again? Our expansive directory will enable you to discover new restaurants, cuisines & deals on a daily basis in no time!</p>
      </div>
    </div>
  </div>
</div>

<div class="container special-container header-styling">
  <center> <h2 class="subheadline">You can find us in these cities</h2> </center>

  <div class="row spacing">
    <div class="col-xs-12 col-sm-4">
      <div class="card spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/duh9oaa44/image/upload/v1542720796/ricardo-gomez-angel-396552-unsplash.jpg');">
        <div class="card-description">
          <h3>Berlin</h3>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/duh9oaa44/image/upload/v1542720788/tavis-beck-586208-unsplash.jpg');">
        <div class="card-description">
          <h3>Munich</h3>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/duh9oaa44/image/upload/v1542720787/yan-ots-641759-unsplash.jpg');">
        <div class="card-description">
          <h3>Hamburg</h3>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <br>
    <div class="col-xs-12 col-sm-4">
      <div class="card spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1517949440080-57a374137885?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1390&q=80');">
        <div class="card-description">
          <h3>Cologne</h3>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1525208089064-ae0dcf68502e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80');">
        <div class="card-description">
          <h3>Dusseldorf</h3>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1516790254669-8ef876f78747?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');">
        <div class="card-description">
          <h3>Frankfurt</h3>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

