<div class="wrapper-all">

  <div id="banner-all">
    <%= render 'components/banner' %>
  </div>
</div>

<div class="advantage-cards">
  <h2></h2>
  <div class="split col-md-6 picture" id="first-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/duh9oaa44/image/upload/v1542719948/i6-3_popular.jpg');">
  </div>


  <div class="split col-md-6 text" >
    <div class="centered">
      <h2>Who we are - Dailycato</h2>
      <p>Dailycato.com allows you to find the best meal-deals at restaurants in your area. Find your prefered restaurant or deal and even take advantage of our in-app booking feature.
      </p>
    </div>
  </div>
</div>


<div class="find-us">
  <div class="container-fluid">
    <center>  <h2>You can find us in these cities</h2> </center>

    <div class="row spacing">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/duh9oaa44/image/upload/v1542720796/ricardo-gomez-angel-396552-unsplash.jpg');">
          <div class="card-description">
            <h2>Berlin</h2>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/duh9oaa44/image/upload/v1542720788/tavis-beck-586208-unsplash.jpg');">
          <div class="card-description">
            <h2>Munich</h2>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/duh9oaa44/image/upload/v1542720787/yan-ots-641759-unsplash.jpg');">
          <div class="card-description">
            <h2>Hamburg</h2>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="flex-container-advantages">
  <div class="flex-container">
    <h1>Speed / Time-saving</h1>
  </div>
  <div class="flex-container">
    <h1>Save Money</h1>
  </div>
  <div class="flex-container">
      <h1>Discover new places/Be up-to-date</h1>
  </div>
</div>

