.category-price {
  background-color: #ED6F33;
  min-width: 85px;
  max-width: 85px;
  height: 25px;
  color: white;
  font-weight: 350;
  // padding-top: 3px;
  // padding-left: 11px;
  // padding-right: 11px;
  border-radius: 2px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.icon{
  position:absolute;
  left:18px;
  top:9px;
  font-size:18px;
}

.overwrite {
  padding-left: 0px !important;
}

.category-food {
  background-color: white;
  min-width: 85px;
  max-width: 85px;
  height: 25px;
  // padding-top: 3px;
  // padding-left: 11px;
  // padding-right: 11px;
  border-radius: 5px;
  text-align: center;
  margin: 0 40px;
}

.price-flex-container {
  display: flex;
  flex-direction: row;
  align-items: top !important;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.filter-title {
  p {
    font-size: 20px;
    font-weight: 350px;
    margin-top: 20px;
    margin-left: 50px;
  }
}

.price-title {
  padding-top: 15px;
}

.category-flex-container {
  display: flex;
  flex-direction: row !important;
  align-content: space-evenly;
}


.filtercontainer {
  width: 50vw;
  height: 0vh;
  background-color: white;
    // position: absolute;
    z-index: 10;
    // top: 20vh;
    // left: 4vw;
    opacity: 0;
    transition: all ease 1s;



  }
  .filterisopen {
    height: 100%;
    padding: 20px;
    opacity:1;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
  }


  .star-ratings {
   display: flex;
   font-size: 33px;
   color: lightgrey;

 }

 .star-btn {
  input {
    display: none;
  }
  &.active {
   color: #ff7233;
 }
}
.cuisine-selection {
  label {
    font-weight: lighter;
  }
}

.star_input {
  display: none;
  &:checked {
    color: red;
  }
}

.cost-ratigs {
  display: flex;
  input {
    display: none;
  }
  .money-btn {
    margin-bottom: 10px;
    background-color: #eeeeee;
    color: white;
    margin-right: 10px;
    text-align: center;
    width: 25%;
    padding: 6px;
    &.active {
     background-color: #ff7233;
   }
 }
}
.cuisine-btn {
  display: flex;
  label {
    display: none;
  }
}
.filter-title {
 p {
  font-size: 20px;
  font-weight: 350px;
  margin-left: 0px;
  font-weight: bold;
}
}

.filter-submit-btn {
  input {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ff7233;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  }
}
