table {
  width: 25vw;
}


th {
  text-align: left;
}

td {
  text-align: right;
}

p {
  font-size: 10px;
}


.box-title {
  color: #F46036;
  font-size: 18px;
}

.contact-table{
  margin-top: 45px;
  font-size: 18px;
  text-align: left;
}

.opening-table {
  margin-top: 15px;
}

.center-text-left{
  width: 20vw;
  text-align: left;
}

.social-media{
  height: 20vw !important;
}

.flex-box {
  display: flex;
  margin-top: 20px;
  // position: absolute
}

.flex-left {
  margin-left: 10px;
}

.flex-container {
  // position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #F46036;
  width: 30vw;
  height: 20vw;
  padding-right: 10px ;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  float: right;
  margin-bottom: 15px;
  margin-right: 0px;
}

.flex-container-all-boxes {
  display: flex;
  flex-direction: column;
  float:right !important;
}

.flex-container-main {
  display: flex;
  flex-direction: row;
}

.details-restaurant {
  margin-left: 20px;
  width: 65vw;
  height: 30vh;

  h1 {
    font-size: 30px;
    font-weight: 400;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
  }
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 30vw; /* 100% */
  max-width: 100%;
  max-height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.map {
  padding-bottom: 10px;
  padding-top: 10px;
}

.form-group {
  width: 30vw;
}

.booking-field {
  padding-top: 90px;
  text-align: center;
}

.booking_booking_time {
  width: 265.06px;

}

.offer-location-search {
  background: #f4f4f4 !important;
}

.checked {
  color: orange;
}


@media (min-width: 481px) and (max-width: 767px) {
  .flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex-container {
    width: 90vw;
    height: 30vh;
    padding-right: 5px ;
    padding-left: 5px;
    padding-top: 0px;
    margin-bottom: 15px;
    margin-right: 0px;
  }

  table {
    width: 70vw;

    th, td{
      font-size: 14px;
    }
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-container {
   width: 90vw;
   height: 30vh;
   padding-right: 5px ;
   padding-left: 5px;
   padding-top: 0px;
   margin-bottom: 15px;
   margin-right: 0px;
 }

 table {
  width: 70vw;

  th, td {
    font-size: 14px;
  }
}
}

