table {
  width: 25vw;
  padding-left: 20px;
  padding-right: 20px;
}


th {
  text-align: left;
  font-size: 14px;
  font-weight: 550;
}

td {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
}

p {
  font-size: 10px;
}

#end-marker {
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid gray;
  border-bottom-width: thin;
  margin: 0 20px 0 0;
}

.box-title {
  color: #F46036;
  font-size: 18px;
}

.contact-display {
  padding-left: 30px;
// padding-top: 30px;
width: 30%;
display: flex;
align-items: center;
justify-content: center;
}

.contact-display a {
  color: black;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.contact-display a:hover {
  opacity: 1;
}

.booking-setion {
 margin-top: 20px !important;
 padding-top: 20px;

 a {
  margin-top: 20px !important;
  padding-top: 20px;
}
}

.contact-table{
  margin-top: 45px;
  font-size: 18px;
  text-align: left;
}

.opening-table {
  margin-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

.center-text-left{
  width: 20vw;
  text-align: left;
}

.social-media{
  height: 20vw !important;
}

.flex-box {
  display: flex;


  margin: 20px 8% 0 8%;
  // position: absolute
}

.flex-left {
  // margin-left: 30px;
  flex-grow: 1
}

.flex-right {
  // margin-right: 20px;

}

.flex-container {
  // position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #F46036;
  width: 30vw;
  height: 20vw;
  padding-right: 10px ;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  float: right;
  margin-bottom: 15px;
  margin-right: 0px;
}

.flex-container-all-boxes {
  display: flex;
  flex-direction: column;
  float:right !important;
}

.flex-container-main {
  display: flex;
  flex-direction: row;
}

.details-restaurant {
  margin-left: 20px;
  margin-bottom: 35px;

  h1 {
    font-size: 30px;
    font-weight: 350;
    margin-top: 0px;
    padding-top: 0px;
  }

  p {
    font-size: 12px;
    font-weight: 300;
  }
}

.outter-box {
  display: flex;
  flex-direction: row;
  // margin-left: 20px;
  justify-content: flex-start;
}

.deal-description-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid gray;
  border-bottom-width: thin;
  margin: 0 20px 0 0;
}

.restaurant-picture img {
  height: 100px;
  width: 75px;
}

.all-deals {
 margin-right: 20px;
 width: 100%;
}

.details-deals {
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 20px 0 0;
  // height: 30vh;
  // display: flex;

  p {
    font-size: 16px;
    font-weight: 400;
  }
}

.deal-price {
  margin-right: 80px;
  font-size: 16px;
  font-weight: 400;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 30vw; /* 100% */
  max-width: 100%;
  max-height: 100%;
}
.filtercontainer {
  width: 37vw;
  height: 0vh;
  background-color: red;
    // position: absolute;
    z-index: 10;
    // top: 20vh;
    // left: 4vw;
    opacity: 0;
    transition: all ease 1s;

  }
  .filterisopen {
    height: 38vh;
    opacity:1}
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      margin: 0;
    }

    .map {
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .filteropen {
      height: 100%;
      cursor: pointer;

    }
    .algolia-places {
      width: auto !important;
    }
    .index-search {
      display: flex !important;
    }

    .booking-field {
      padding-top: 90px;
      text-align: center;
    }

    .booking_booking_time {
      width: 265.06px;

    }

    .offer-location-search {
      background: #f4f4f4 !important;
    }

    .checked {
      color: orange;
    }


    @media (min-width: 481px) and (max-width: 767px) {
      .flex-box {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .flex-container {
        width: 90vw;
        height: 30vh;
        padding-right: 5px ;
        padding-left: 5px;
        padding-top: 0px;
        margin-bottom: 15px;
        margin-right: 0px;
      }

      table {
        width: 70vw;

        th, td{
          font-size: 14px;
        }
      }

      .deal-price {
        margin-right: 0px;
      }

      .all-deals {
       margin-right: 0px;
       width: 100%;
     }

     .details-deals {
      width: 320px;
    }

    .outter-box {
     width: 300px;
   }

 }

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-container {
   width: 90vw;
   height: 30vh;
   padding-right: 5px ;
   padding-left: 5px;
   padding-top: 0px;
   padding-bottom: 20px !important;
   margin-bottom: 15px;
   margin-right: 0px;
 }

 .deal-price {
  margin-right: 0px;
}

.all-deals {
 margin-right: 0px;
 width: auto;
}

.details-restaurant {
  margin-left: 20px;
  margin-bottom: 35px;
}

table {
  width: 70vw;

  th, td {
    font-size: 14px;
  }
}

.details-deals {
  width: 320px;
}
.outter-box {
  width: 320px;
}
}

.today {
  background-color: #3E9B4D;
}
