<div class="filter-title">
  <p class="price-title"> Price </p>
</div>



<div class="price-flex-container">
  <span class="my-checkbox">  <label class="category-price">
    <input type="checkbox" class="hidden" name="Price" value="1">€<br>
  </label>
</span>

<span class="my-checkbox">  <label class="category-price">
  <input type="checkbox" class="hidden" name="Price" value="2">€€<br>
</label>
</span>

<span class="my-checkbox">  <label class="category-price">
  <input type="checkbox" class="hidden" name="Price" value="3">€€€<br>
</label></span>

<span class="my-checkbox">  <label class="category-price">
  <input type="checkbox" class="hidden" name="Price" value="4">€€€€<br>
</label>
</span>

<span class="my-checkbox">  <label class="category-price">
  <input type="checkbox" class="hidden" name="Price" value="5">€€€€€<br>
</label>
</span>
</div>

<div class="filter-title">
  <p> Cuisines </p>
</div>


<div class="grid-container">
  <div class="grid-item">
    <span class="checkbox">  <label class="category-food">
      <input type="checkbox" class="" name="Price" value="Korean">Korean<br>
    </label>
  </span>
  </div>
 <div class="grid-item">
  <span class="checkbox">  <label class="category-food">
    <input type="checkbox" class="" name="Price" value="American">American<br>
  </label>
  </span>
  </div>
  <div class="grid-item">
    <span class="checkbox">  <label class="category-food">
      <input type="checkbox" class="" name="Price" value="Salad">Salad<br>
    </label></span>
  </div>
  <div class="grid-item">
    <span class="checkbox">  <label class="category-food">
      <input type="checkbox" class="" name="Price" value="Italian">Italian<br>
    </label>
  </span>
  </div>
  <div class="grid-item">
    <span class="checkbox">  <label class="category-food">
      <input type="checkbox" class="" name="Price" value="Japanese">Japanese<br>
    </label>
  </span>
  </div>
  </div>



