.split {
  height: 300px;
  // width: 50%;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // position: absolute;
  // // z-index: 1;
  // // top: 0;
  // overflow-x: hidden;
  padding-top: 20px;

}

.text {
  right: 0;
  // background-color: red;
}

.picture {
  left: 0;
  object-fit: cover;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.advantage-cards {
  width: 100vw;
  height: 40%;
  margin-bottom: 300px;
}

#first-picture {
  background-size: cover !important;
}

