.split {
  height: 300px;
  // width: 50%;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // position: absolute;
  // // z-index: 1;
  // // top: 0;
  // overflow-x: hidden;

  margin-top: 50px;

}

.text {
  right: 0;
  // background-color: red;
}

.picture {
  left: 0;
  object-fit: cover;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.advantage-cards {
  width: 100vw;
  height: 40%;
  margin-bottom: 300px;
}

#first-picture {
  background-size: cover !important;
}


@media (min-width: 481px) and (max-width: 767px) {

  .advantage-cards {
    margin-bottom: 0px;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .advantage-cards {
    margin-bottom: 0px;
  }

}
