.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif !important;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(170, 170, 170);
  opacity: 0.7;
  margin-bottom: 30px;
}

.inputfield {
  width: 30vw;
  // margin: 8px 0;
  margin: 0 auto;
  padding: 5px 0px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 7px;
}

@media (min-width: 481px) and (max-width: 767px) {

.inputfield {
  font-size: 14px;
  width: 40vw;
}

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

 .inputfield {
  font-size: 14px;
  width: 40vw;

}

.banner h1 {
  font-size: 40px;
}

.banner p {
  font-size: 20px;
}
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
 -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

// @media only screen and (max-width: 600px) {
//     #inputfield {
//         width: 30vh;
//     }
// }

// .find-deals {
//   background-color: #3E9B4D;
//   color: white;
//   padding: 13px 26px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 20px;
//   box-sizing: border-box;
//   border: 0 !important;
// }
