.index_flex {
  display: flex;
  position: relative;
  margin-left: 20px;
}

#map {
  flex: 0 0 550px;
  height: 100vh;
  position: sticky !important;
  top: 0px !important;
  margin-left: 10px;
}

#showpage-map {
background-size: cover !important;

}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.offer-name {
  display: flex;
flex: 0 0 100px;
}

.offer-price {
display: flex;
position: relative;
}

.flex-text {
  flex: 1 0 auto;
}

.marker-pin {
width: 25px;
height: 25px;
line-height: 25px;
background-color: #FF7234;
border-radius: 50%;
text-align: center;
vertical-align: middle;
font-size: 14px;
}
